<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Form-Handling/Mini-Project/Stylesheets/styles.css">
</head>
<body>
    <h1> Hey <%= 2+2 %></h1>
</body>
<script src="/Form-Handling/Mini-Project/Javascripts/demo.js"></script>
</html>